# 3.1 텍스트 파일 저장하고 읽기

In [ ]:
with open("sample.txt", 'w') as f:
    f.write('텍스트를 저장하고 읽어오기를 실습하고 있습니다.')

with open("sample.txt", 'r') as f:
    data = f.read()
print(data)

텍스트를 저장하고 읽어오기를 실습하고 있습니다.

In [ ]:
with open("line.txt", 'w') as f:
    for i in range(1, 4):
        data = "%d번째 줄입니다.\n" % i
        f.write(data)

with open("line.txt", 'r') as f:
    while True:
        line = f.readline()
        print(line)
        if not line: break

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

In [ ]:
data = {
    '이름':['김한국', '박대한', '홍길동'],
    '국어성적':[80, 75, 90],
    '영어성적':[90, 95, 75]
}
import pandas as pd
df = pd.DataFrame(data)
df.to_csv('csv.txt', sep=',')

import pandas as pd
df = pd.read_csv('csv.txt', index_col = 0)
df

    이름  국어성적  영어성적
0  김한국    80    90
1  박대한    75    95
2  홍길동    90    75

# 3.2 텍스트 CSV 데이터 저장 및 읽기

In [ ]:
# 저장하기 
import csv    
with open('test.csv', 'w') as f:
    data = csv.writer(f)
    data.writerow(["김민국", 15, '남자', '서울시 서대문구 신촌동'])
    data.writerow(["박한솔", 30, '여자', '서울시 용산구 서빙고동'])

In [ ]:
# CSV 읽어오기 
with open("test.csv", "r") as f:
  data = csv.reader(f)
  test=[]
  for row in data:
    test.append(row)
test

[['김민국', '15', '남자', '서울시 서대문구 신촌동'], ['박한솔', '30', '여자', '서울시 용산구 서빙고동']]

In [ ]:
#CSV 판다스로 읽어오기 
import pandas as pd
colnames=['Name', 'Age', 'Gender', 'Add'] 
df = pd.read_csv('test.csv', names=colnames, header=None)
df.to_csv('a.csv',header=None, index = False)
df

  Name  Age Gender           Add
0  김민국   15     남자  서울시 서대문구 신촌동
1  박한솔   30     여자  서울시 용산구 서빙고동

# 3.3 텍스트 JSON 데이터 저장 및 읽기

In [ ]:
import json
admin={
    'mysql' : { "id" :"mysql", "pass" : "12345" },
    'naver_api':{
        'id': 'my_naver_id',
        'pass': "12345" },
    'tweeter': {
        'api_key' : 'your_tweeter_key',
        'api_secret' : 'your_tweeter_secret',
        'token_key' : 'your_token_key',
        'token_secret' : 'your_token_secret' },
    }

with open('admin_ex.json', 'w') as f:
    json.dump(admin, f)

In [ ]:
with open('admin_ex.json','r') as f:
    s=f.read()
    admin = json.loads(s)
    admin1= json.loads(s)['tweeter']

print(s)
print(json.dumps(admin, indent= 4))
print(admin['tweeter']['api_key'])
print(admin1['api_key'], admin1['api_secret'])
print(admin1['token_key'], admin1['token_secret'])

{"mysql": {"mysql_user": "user", "mysql_pass": "12345"}, "naver_api": {"id": "your_naver_id", "pass": "your_naver_pass"}, "tweeter": {"api_key": "your_tweeter_key", "api_secret": "your_tweeter_secret", "token_key": "your_token_key", "token_secret": "your_token_secret"}}
{
    "mysql": {
        "mysql_user": "user",
        "mysql_pass": "12345"
    },
    "naver_api": {
        "id": "your_naver_id",
        "pass": "your_naver_pass"
    },
    "tweeter": {
        "api_key": "your_tweeter_key",
        "api_secret": "your_tweeter_secret",
        "token_key": "your_token_key",
        "token_secret": "your_token_secret"
    }
}
your_tweeter_key
your_tweeter_key your_tweeter_secret
your_token_key your_token_secret

In [ ]:
import json
import pandas as pd
df = pd.json_normalize(admin['mysql'])
json_csv = df.to_csv()
print(json_csv)
df

,mysql_user,mysql_pass
0,user,12345

  mysql_user mysql_pass
0       user      12345

# 3.4 텍스트 XML 데이터 저장 및 읽기

In [ ]:
%%writefile test_xml
<?xml version="1.0" encoding="utf-8"?>
<world>
	<people name='김민국'>
		<age>15</age>
		<tall>183cm</tall>
		<add>'서울시 서대문구'</add>
	</people>
	<people name='박한솔' >
		<age>30</age>
		<tall>175cm</tall>
		<add>'서울시 용산구'</add>
	</people>
</world>

Writing test_xml

In [ ]:
import xml.etree.ElementTree as ET
tree = ET.parse('test_xml')
root = tree.getroot()
print(root.tag)
for child in root:
    print(child.tag, child.attrib)

for add in root.iter('add'):
    print(add.text)

world
people {'name': '김민국'}
people {'name': '박한솔'}
'서울시 서대문구'
'서울시 용산구'

In [ ]:
from bs4 import BeautifulSoup as bs
with open("test_xml", 'r') as f:
    xml_doc = f.read()
soup = bs(xml_doc, 'lxml')
for row in soup.find_all('people'):
    print(row.get('name'))
    print(row.find('age').text)
    print(row.find('tall').text)
    print(row.find('add').text)

김민국
15
183cm
'서울시 서대문구'
박한솔
30
175cm
'서울시 용산구'

In [ ]:
import pandas as pd 
df_cols=['Name','Age', 'Tall','Add']
rows=[]
for node in root:
   s_name=node.attrib.get("name")
   s_age=node.find("age").text if node is not None else None
   s_tall=node.find("tall").text if node is not None else None
   s_add=node.find("add").text if node is not None else None
   rows.append({"Name":s_name, "Age":s_age, 'Tall':s_tall, "Add" : s_add})

df=pd.DataFrame(rows, columns=df_cols) 
df

  Name Age   Tall         Add
0  김민국  15  183cm  '서울시 서대문구'
1  박한솔  30  175cm   '서울시 용산구'

# 3.5 PDF 또는 HWP 파일을 텍스트 파일로 변환하기

In [1]:
# 라이브러리 설치 및 pdf 파일 다운로드
!pip install PyPDF2
!wget https://github.com/byungjooyoo/Dataset/raw/main/DR2020_1.pdf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyPDF2
  Downloading pypdf2-2.12.1-py3-none-any.whl (222 kB)
     |████████████████████████████████| 222 kB 5.2 MB/s
Requirement already satisfied: typing_extensions>=3.10.0.0 in /usr/local/lib/python3.8/dist-packages (from PyPDF2) (4.4.0)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-2.12.1
--2022-12-18 05:58:27--  https://github.com/byungjooyoo/Dataset/raw/main/DR2020_1.pdf
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/byungjooyoo/Dataset/main/DR2020_1.pdf [following]
--2022-12-18 05:58:27--  https://raw.githubusercontent.com/byungjooyoo/Dataset/main/DR2020_1.pdf
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 267513 (261K) [application/octet-stream]
Saving to: ‘DR2020_1.pdf’

DR2020_1.pdf        100%[===================>] 261.24K  --.-KB/s    in 0.03s

2022-12-18 05:58:27 (8.16 MB/s) - ‘DR2020_1.pdf’ saved [267513/267513]

In [2]:
# 특정 페이지 출력
import PyPDF2
pdfReader = PyPDF2.PdfFileReader("DR2020_1.pdf")
print(" No. Of Pages :", pdfReader.numPages)
pageObject = pdfReader.getPage(2)
print(pageObject.extractText())

 No. Of Pages : 6
발간사
최근 우리의 대내외 안보상황은 매우 복잡하고 엄중합니다. 한반도의 주변국들은
자국 우선주의를 내세우며 첨단 군사력을 지속적으로 확충해 나가고 있으며, 해상과
공중은 물론 우주· 사이버 등으로 군사영역을 확장하고 있습니다. 또한 코로나19, 재
난, 테러 등 초국가적 · 비군사적 위협들이 국가안보의 도전 요인으로 대두되고 있습니
다. 특히 코로나19의 확산, 미중 간 전략적 경쟁 등으로 역내 안보구도의 유동성과 불
확실성은 더욱 증대되고 있습니다.
한편 북한은 2018년 「9· 19 군사합의」를 체결한 이후 남북관계 개선 의지를 보이면서
도 우리 정부와 국제사회의 평화정착 노력에 적극적으로 호응하지 않고 있습니다.
이러한 안보상황의 도전 속에서 우리 군은 ‘강한 힘’과 굳건한 한미동맹을 기반으로 확
고한 군사대비태세를 유지한 가운데, ‘국민을 위한 군’으로서 역할과 책임을 다하여 ‘강
한 안보, 자랑스러운 군, 함께하는 국방’을 건설할 수 있도록 최선을 다하고 있습니다.
우리 군은 국지도발 및 전면전에 대응할 수 있는 연합방위태세와 군사대비태세를
유지하고 있으며, 전투임무 위주의 실전적 교육훈련을 강화하고 있습니다. 또한 코로
나19에 선제적이고 적극적으로 대응함으로써 국민의 생명과 안전을 지키는 군 본연의
임무를 충실히 수행해 왔습니다.
한미동맹은 한반도 및 역내 평화· 번영의 핵심축으로, 공동의 가치를 공유하는 포괄
적 전략동맹으로 지속 발전해 나가고 있습니다. 양국 군은 앞으로도 전시작전통제권
전환과 새로운 연합방위체제 구축을 추진하면서 한미동맹의 한 단계 더 높은 도약을
준비해 나갈 것입니다. 그리고 우리 군은 주변국과의 전략적 국방교류협력과 국방외교
대상의 다변화를 통해 국방교류협력의 내실화와 외연 확대를 추진하고 있으며, 향후
에도 적극적 국방외교 활동을 통해 세계 평화에 이바지할 것입니다.
우리 군은 미래 전장환경에 맞는 국방역량을 구축하고 있습니다. 다양한 핵 · 대량
살상무기 위협에 대한 우리 군 및 한미연합의 능력을 강화하고 있으며, 핵심군사능력
을 중심으로 주요 전력을 증강하고 있습니다. 그리고 「국방개혁 2.0」과 스마트 국방혁
신 추진을 통해 첨단과학 기술군으로 거듭나기 위해 노력하고 있습니다. 우리 군의 구

In [3]:
#자료 통합
total = ''
for i in range(pdfReader.numPages):
    data = pdfReader.getPage(i).extractText()
    total += data
print(total[:1000])

발간등록번호
11-1290000-000440-11발간사
최근 우리의 대내외 안보상황은 매우 복잡하고 엄중합니다. 한반도의 주변국들은
자국 우선주의를 내세우며 첨단 군사력을 지속적으로 확충해 나가고 있으며, 해상과
공중은 물론 우주· 사이버 등으로 군사영역을 확장하고 있습니다. 또한 코로나19, 재
난, 테러 등 초국가적 · 비군사적 위협들이 국가안보의 도전 요인으로 대두되고 있습니
다. 특히 코로나19의 확산, 미중 간 전략적 경쟁 등으로 역내 안보구도의 유동성과 불
확실성은 더욱 증대되고 있습니다.
한편 북한은 2018년 「9· 19 군사합의」를 체결한 이후 남북관계 개선 의지를 보이면서
도 우리 정부와 국제사회의 평화정착 노력에 적극적으로 호응하지 않고 있습니다.
이러한 안보상황의 도전 속에서 우리 군은 ‘강한 힘’과 굳건한 한미동맹을 기반으로 확
고한 군사대비태세를 유지한 가운데, ‘국민을 위한 군’으로서 역할과 책임을 다하여 ‘강
한 안보, 자랑스러운 군, 함께하는 국방’을 건설할 수 있도록 최선을 다하고 있습니다.
우리 군은 국지도발 및 전면전에 대응할 수 있는 연합방위태세와 군사대비태세를
유지하고 있으며, 전투임무 위주의 실전적 교육훈련을 강화하고 있습니다. 또한 코로
나19에 선제적이고 적극적으로 대응함으로써 국민의 생명과 안전을 지키는 군 본연의
임무를 충실히 수행해 왔습니다.
한미동맹은 한반도 및 역내 평화· 번영의 핵심축으로, 공동의 가치를 공유하는 포괄
적 전략동맹으로 지속 발전해 나가고 있습니다. 양국 군은 앞으로도 전시작전통제권
전환과 새로운 연합방위체제 구축을 추진하면서 한미동맹의 한 단계 더 높은 도약을
준비해 나갈 것입니다. 그리고 우리 군은 주변국과의 전략적 국방교류협력과 국방외교
대상의 다변화를 통해 국방교류협력의 내실화와 외연 확대를 추진하고 있으며, 향후
에도 적극적 국방외교 활동을 통해 세계 평화에 이바지할 것입니다.
우리 군은 미래 전장환경에 맞는 국방역량을 구축하고 있습니다. 다양한 핵 · 대량
살상무

In [4]:
# 텍스트 파일로 저장
with open('DR2020_1.txt', 'w') as f:
    f.write(total)

In [5]:
# 한글 파일 다운로드 
!pip install olefile
!wget https://github.com/byungjooyoo/Dataset/raw/main/%EB%85%BC%EB%AC%B8%EC%9A%94%EC%95%BD.hwp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting olefile
  Downloading olefile-0.46.zip (112 kB)
     |████████████████████████████████| 112 kB 4.9 MB/s
Building wheels for collected packages: olefile
  Building wheel for olefile (setup.py) ... done
  Created wheel for olefile: filename=olefile-0.46-py2.py3-none-any.whl size=35430 sha256=3ffb917256cabfdf83c3b088192f00d50b2f53901f48f5f0cdb89d9c92f16935
  Stored in directory: /root/.cache/pip/wheels/0b/d8/16/1e2d32ad7455728b8af9efdb9d2a0c3d03cd8f2e4be0191b8c
Successfully built olefile
Installing collected packages: olefile
Successfully installed olefile-0.46
--2022-12-18 06:00:51--  https://github.com/byungjooyoo/Dataset/raw/main/%EB%85%BC%EB%AC%B8%EC%9A%94%EC%95%BD.hwp
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/byungjooyoo/Dataset/main/%EB%85%BC%EB%AC%B8%EC%9A%94%EC%95%BD.hwp [following]
--2022-12-18 06:00:51--  https://raw.githubusercontent.com/byungjooyoo/Dataset/main/%EB%85%BC%EB%AC%B8%EC%9A%94%EC%95%BD.hwp
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 110080 (108K) [application/octet-stream]
Saving to: ‘논문요약.hwp’

논문요약.hwp        100%[===================>] 107.50K  --.-KB/s    in 0.02s

2022-12-18 06:00:52 (4.99 MB/s) - ‘논문요약.hwp’ saved [110080/110080]

In [6]:
import olefile
f = olefile.OleFileIO('논문요약.hwp')  
encoded_text = f.openstream('PrvText').read() 
decoded_text = encoded_text.decode('utf-16')  
decoded_text

'MCMC를 이용한 선형전투모형의 베이지안 추론 사례\r\n(Bayesian Inference for the Linear Combat Model by using MCMC)\r\n유병주1†\r\n(Byung Joo Yoo)\r\n\r\nABSTRACT\r\n  As a way of predicting the future combat by analyzing past combat data, a method of fitting and analyzing the linear combat model may be considered. If two kinds of data differ historically from each other, it is difficult to fit into a single linear combat model due to violation of model assumptions. Two data of the same time can be applied to one model such as by using the dummy variable. but in this case, it is difficult to construct one model because it is two heterogeneous data with different ages. To solve this problem, Bayesian inference method using MCMC is proposed. After deriving the posterior distribution based on the noninformative prior and the previous period data, it is used as an informative prior for obtaining the final posterior distribution based on the next period data, then can predict the future combat by generating the posterior predictive distribution. I'

In [7]:
with open("result.txt", 'w') as f:
    f.write(decoded_text)

In [8]:
# pyhwp로 변환하기
!pip install pyhwp
!hwp5txt --version
!hwp5txt --output "result1.txt" "논문요약.hwp"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyhwp
  Downloading pyhwp-0.1b15.tar.gz (218 kB)
     |████████████████████████████████| 218 kB 5.1 MB/s
Collecting cryptography
  Downloading cryptography-38.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 55.1 MB/s
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from pyhwp) (4.9.2)
Requirement already satisfied: olefile>=0.43 in /usr/local/lib/python3.8/dist-packages (from pyhwp) (0.46)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography->pyhwp) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography->pyhwp) (2.21)
Building wheels for collected packages: pyhwp
  Building wheel for pyhwp (setup.py) ... done
  Created wheel for pyhwp: filename=pyhwp-0.1b15-py3-none-any.whl size=315469 sha256=b30954092fc37ba375b06fc36953faa404d29bf991f19093c2f0da87709ddfd3
  Stored in directory: /root/.cache/pip/wheels/00/f7/4d/ec5a2f465cb6f781c5582214b334756e0e033fd51e2e0fc040
Successfully built pyhwp
Installing collected packages: cryptography, pyhwp
Successfully installed cryptography-38.0.4 pyhwp-0.1b15
hwp5txt
0.1b15

In [9]:
# 변환된 데이터 확인
with open("result1.txt", 'r') as f:
    data = f.read()
print(data)

MCMC를 이용한 선형전투모형의 베이지안 추론 사례1) (주)심네트 R&D 및 V&V연구소
교신저자 : bjyoo@korea.ac.kr

(Bayesian Inference for the Linear Combat Model by using MCMC)
유병주1†
(Byung Joo Yoo)

ABSTRACT
  As a way of predicting the future combat by analyzing past combat data, a method of fitting and analyzing the linear combat model may be considered. If two kinds of data differ historically from each other, it is difficult to fit into a single linear combat model due to violation of model assumptions. Two data of the same time can be applied to one model such as by using the dummy variable. but in this case, it is difficult to construct one model because it is two heterogeneous data with different ages. To solve this problem, Bayesian inference method using MCMC is proposed. After deriving the posterior distribution based on the noninformative prior and the previous period data, it is used as an informative prior for obtaining the final posterior distribution based on the next period data, then can predict the future combat by generating the posterior predictive distribution. In particular, it is important to use the results of simulation sampling data under special conditions using the MCMC method to infer the posterior or posterior predictive distribution. In this case, it is possible to utilize various information rather than analyzing it with the classic linear combat model, and also has the advantage of continuously updating the model by reflecting additionally acquired data in the future.


Key Words : MCMC(Markov Chain Monte Carlo), Bayesian Inference, Linear Combat Model,
            Posterior Distribution, Posterior Predictive Distribution

요  약
  과거의 전투결과를 분석하여 미래에 있을 전투를 예측하기 위한 방법으로 선형전투모형을 적용하는 방법이 고려될 수 있다. 그러나 역사적으로 시대가 다른 두 유형의 자료들이라면 모형의 가정사항 위반으로 하나의 선형전투모형으로 적합하기는 어렵다. 동시대의 2가지 자료라면 Dummy 변수를 적용하는 등의 방법으로 하나의 모형으로 적합시킬 수 있지만 이 논문에서 다루는 자료의 경우에는 서로 시대가 다른 이질적인 두 가지 자료이기 때문에 하나의 모형으로 통합하기는 어렵다. 이러한 문제를 해결하기 위해 MCMC를 이용한 베이지안 추론 방법을 제안하였다. 제안한 방법은 앞선 시대에 있는 자료를 비정보적 사전분포를 가정하여 사후분포를 구하고 이를 다음 시대에 얻은 자료를 분석하기 위한 사전분포로 활용하여 최종 사후분포를 추론하고, 이를 이용하여 사후예측분포를 얻어 미래를 예측하는 방법이다. 특히 MCMC 방법을 사용하여 특별한 조건 하에 시뮬레이션하여 샘플링한 결과를 이용하여 사후분포나 사후예측분포를 몬테칼를로 방법으로 추론할 수 있다는 점이 중요하다. 이렇게 했을 때 고전적인 선형전투모형으로 분석하는 것보다 다양한 정보를 활용할 수 있을 뿐만 아니라 향후 추가적으로 획득되는 자료도 모형에 반영하여 모형을 계속 업데이트시킬 수 있는 장점이 있다.

주요어 : 베이지안 추론, 마코프 체인 몬테 칼로, 선형전투모형, 사후분포, 사후예측분포

# 3.6 텍스트 데이터를 판다스 데이터프레임으로 정리하기

In [ ]:
import json
import pandas as pd
df = pd.json_normalize(admin['mysql'])
df

  mysql_user mysql_pass
0       user      12345

In [ ]:
from bs4 import BeautifulSoup as bs
with open("test_xml", 'r') as f:
    xml_doc = f.read()
soup = bs(xml_doc, 'lxml')
df_cols=['Name','Age', 'Tall','Add']
rows=[]
for row in soup.find_all('people'):
    s_name=row.get('name')
    s_age=row.find('age').text
    s_tall=row.find('tall').text
    s_add=row.find('add').text 
    rows.append({"Name":s_name, "Age":s_age, 'Tall':s_tall, "Add" : s_add})
    
df=pd.DataFrame(rows, columns=df_cols) 
df

  Name Age   Tall         Add
0  김민국  15  183cm  '서울시 서대문구'
1  박한솔  30  175cm   '서울시 용산구'